* {
  margin: 0;
  padding: 0;
}

canvas,
#the-canvas {
  background: url("./Spinner.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  direction: ltr;
}

.carousel-item {
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.canvas-wrapper {
  margin: 5px auto 5px auto;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container-fluid {
  background-color: #161a1f;
}
html,
body {
  background-color: #161a1f;
}

/* .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
} */

li {
  list-style-type: none;
}
